<th:block th:fragment="navbar">
    <div class="loader"></div>
    <div id="myDiv">
        <!--HEADER-->
        <div class="header">
            <div class="bg-color">
                <header id="main-header">
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand"  th:href="@{/}">Ba<span class="logo-dec">ker</span></a>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a th:href="@{/}">Home</a></li>
                                    <li class=""><a href="#feature">About</a></li>
                                    <li class=""><a href="#service">Services</a></li>
                                    <li class=""><a href="#portfolio">Causes</a></li>
                                    <li class=""><a href="#testimonial">Testimonial</a></li>
                                    <li  class=""><a href="#blog">Blog</a></li>
                                    <li class=""><a href="#contact">Contact Us</a></li>
                                    <li sec:authorize="hasRole('ROLE_MODERATOR')" class="nav-link"><a th:href="@{/categories/create}">Category</a></li>

                                    <li sec:authorize="hasRole('ROLE_SUPPORTED')" class="nav-link dropdown">

                                          <a class="dropdown-toggle" href="#" role="button" id="cause-dropdown"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Create Cause <span class="caret"></span>
                                          </a>
                                          <ul class="dropdown-menu" role="menu">
                                              <li  class="nav-link"><a th:href="@{/causes/create-level}">Team</a></li>
                                              <li  class="nav-link"><a th:href="@{/causes/create-level-ind}">Individual</a></li>
                                              <li sec:authorize="hasRole('ROLE_MODERATOR')" class="nav-link"><a th:href="@{/causes/update}">Update</a></li>
                                          </ul>
                                    </li>

                                    <li sec:authorize="isAnonymous()" class="nav-link"><a th:href="@{/register}">Register</a></li>
                                    <li sec:authorize="isAnonymous()"  class="nav-link"><a th:href="@{/login}">Login</a></li>
                                    <li sec:authorize="isAuthenticated()"  class="nav-link"> <a th:href ="@{/logout}">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
</th:block>