<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:input="http://www.w3.org/1999/html">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>

<th:block th:include="~{fragments/navbar}"></th:block>


<!--/ HEADER-->
<!---->

<!---->
<section id="blog" class="section-padding wow fadeInUp delay-05s">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">Team Causes</h2>
                <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                <hr class="bottom-line">
            </div>

            <th:block th:each="team: ${team}">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="blog-sec">
                        <div class="blog-img">
                            <a href="">
                                <img th:src="${team.imgUrl}"  class="img-responsive">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h2 th:text="${team.name}"> </h2>
                            <div class="blog-comment">
                                <p>Posted In: <span th:text="${team.category}"> </span></p>

                            </div>
                            <p th:text="${team.cause}"> </p>
                            <a th:href="@{/causes/details/{unit}/{id}(unit=${team.unit},id=${team.id})}" class="btn btn-more">Details</a>
                        </div>
                    </div>
                </div>
            </th:block>




<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Individual Causes</h2>
            <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr class="bottom-line">
        </div>

        <th:block th:each="individual: ${individual}">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="blog-sec">
                    <div class="blog-img">
                        <a href="">
                            <img th:src="${individual.imgUrl}"  class="img-responsive">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h2 th:text="${individual.name}"> </h2>
                        <div class="blog-comment">
                            <p>Posted In: <span th:text="${individual.category}"> </span></p>

                        </div>
                        <p th:text="${individual.cause}"> </p>
                        <a th:href="@{/causes/details/{unit}/{id}(unit=${individual.unit},id=${individual.id})}" class="btn btn-more">Details</a>
                    </div>
                </div>
            </div>
        </th:block>


        </section>
<!---->
<section id="contact" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center white">
                <h2 class="service-title pad-bt15">Keep in touch with us</h2>
                <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                <hr class="bottom-line white-bg">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="loction-info white">
                    <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>A99 Adam Street<br>Texas, TX 555072</p>
                    <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@baker.com</p>
                    <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+41 5787 2323</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="col-md-6 padding-right-zero">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-submit">SEND NOW</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <p>&copy; iSiktir. All Rights Reserved.</p>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Baker
                -->
                Designed by <a href="https://bootstrapmade.com/">iSiktir Design Solutions</a>
            </div>
        </div>
    </div>
</footer>
<!---->
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
</body>
</html>
